/* Página de Registro */
.register-page {
  background: linear-gradient(135deg, #141e30, #243b55);
  font-family: "Poppins", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  padding: 40px;
  border-radius: 16px;
  width: 340px;
  text-align: center;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.register-container h1 {
  margin-bottom: 20px;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 14px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

.register-container button {
  width: 100%;
  background-color: #00bcd4;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.register-container button:hover {
  background-color: #0097a7;
}

.login-text {
  margin-top: 12px;
  font-size: 14px;
}

.login-text a {
  color: #00bcd4;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}

.label-data {
  text-align: left;
  font-size: 13px;
  color: #ddd;
  margin-bottom: 4px;
}
